numpy
pandas
jupyter
rdkit-pypi 
pubchempy 
requests_cache 
pybatchclassyfire
joblib
networkx
openpyxl
statistics
wget
plotly
kaleido
matplotlib
matplotlib_venn
graphviz
frozendict
pyyaml
provenance
prov
provbook
